body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.accueil{
    text-align: center;
}
.accueil h1{
    font-size: 40px;
    text-decoration: underline;
}
.accueil p{
    font-size: 20px;
}

.cadreForm form .textField{
    background-color: #666666;
    border: 1px solid #111111;
    border-radius: 3%;
}

.cadreFilter .textField{
    background-color: #888888;
    border: 2px solid #111111;
    border-radius: 3%;
}
.card-dark .imageCarte{
    border: 2px solid #AAAAAA;
    border-radius: 5px;
}