body {
  background-color: #FBF5F3;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  margin: 50px 10% 50px 10%
}

.cadreForm {
  margin: auto;
  padding: 20px;
  background-color: #2A2A2A !important;
  border-radius: 15px;
  width: 50%;
}

.cadreForm {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
}

.textField {
  margin-bottom: 20px !important;
}

.button {
  margin-bottom: 20px !important;
}

.container-row {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin: 10px;
  justify-content: space-between;
  padding: 50px;
}

footer {
  background-color: #2A2A2A !important;
  color: #fff;
  padding: 20px;
  margin-top: 100px;
}

/*.col-md-4 {*/
/*  flex: 0 0 calc(33.33% - 20px);*/
/*  margin-right: 20px;*/
/*}*/

.liste-recette {
  display: flex;
  /*flex-direction: row;*/
  flex-wrap: wrap;
  /* Ajout de flex-wrap: wrap pour permettre le passage à la ligne */
  justify-content: space-between;
  gap: 25px;
}

.container {
  width: 75vw;
  margin: auto;
  padding: 20px;
  background-color: #2A2A2A !important;
  border-radius: 15px;
}

.valid {
  margin-top: 20px !important;
}

.commentaire {
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  background-color: #FBF5F3;
}

.vert {
  background-color: #0B7A75 !important;
}

.card-dark {
  background-color: #2A2A2A !important;
  border-radius: 6px !important;
  padding: 5px;
}

.card-dark span,
.card-dark p,
.card-dark {
  color: #FBF5F3;
}

.white{
  text-decoration: none;
  color: #FBF5F3!important;
}

span.white{
  text-decoration: none;
  color: #FBF5F3!important;
}
a:-webkit-any-link{
  /*color: #FBF5F3!important;*/

}

.icon-large {
  font-size: 40px !important; /* Taille de l'icône personnalisée */
}

.icon-large {
  font-size: 40px !important;
  /* Taille de l'icône personnalisée */
}

.cadreFilter {
  background-color: #2A2A2A !important;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 6px;
}


.info {
  background-color: #FBF5F3 !important;
}

.h5 {
  margin-bottom: 20px !important;
}

.accueil p {
  font-size: 20px;
}

.cadreForm form .textField {
  background-color: #666666;
  border: 1px solid #111111;
  border-radius: 3%;
}

.cadreFilter .textField {
  background-color: #888888;
  border: 2px solid #111111;
  border-radius: 3%;
}

.card-dark .imageCarte {
  border-bottom: 2px solid #0B7A75;
  border-radius: 5px;
}

.ajoutCom {
  background-color: #FFFFFF;
  color: #000000;
}